h1,h2,h3,h4,h5,h6{
  text-transform: uppercase;
}
// //section
// // .section{
// // padding: 0 2.5rem;
// // color: $primary-color;
// // }
// // END section
// // home
// .home{
//   padding:0 2.5rem;
//   color: $white;
//   background: url('../../assets/img/mobile/fons.jpg') no-repeat center center;
//   background-size: cover;
//   ul{
//     padding-top:0.5rem;
//   }
//   li{
//         list-style: none;
//     &:first-child{
//       text-transform: uppercase;
//       font-weight: bold;
//       position:relative;
//     &:before{
//       content: "";
//       width: 1.5rem;
//       border-bottom: solid 3px $white;
//       position: absolute;
//       margin-left: -2rem;
//       left: 0;
//       top: 0.7rem;
//       z-index: 1;
//     }
//     }
//
//   }
//
// a{color:$white; font-size: 1.1rem;}
// }
// .intro{
//   h1{}
//   h2{font-size: rem-calc(22);
//   position:relative;
//   &:after{
//      content: "";
//      top:100%;
//      margin-top:2vh;
//      height:16vh;
//      width:5px;
//      background-color: $primary-color;
//      position: absolute;
//      left: 50%;
//      z-index: 1;
//    }}
//   span{color: $primary-color}
//   padding:0 25vw;
//   .button{
//     text-transform: uppercase;
//     margin-top:20vh;
//     letter-spacing: 2px;
//   }
// }
// //END home
//
// //projects
// #projects{
//   section{
//     margin: 6rem 0;
//   }
//
// // .projects {
// //   &:first-child{
// //     background-color:blue;
// //   }
// //     background-color:red;
// //     margin-bottom:5rem;
// //   }
// .projects{
//   padding:0 3rem;
//   h2{margin-bottom:5rem;
//      position:relative;
//   &:after{
//     content: "";
//     top:100%;
//     height:5rem;
//     width:4px;
//     margin-left:-2px;
//     background-color: $primary-color;
//     position: absolute;
//     left: 50%;
//     z-index: 1;
//   }
//   }
// .cell{
//   padding:1rem;
// }
// article{
//   width:100%;
//   height: 10rem;
//   background-color: $medium-gray;
// }
// }
// }
//
// //END PROJECTS

section{
  margin: 2rem 0;
  header{
    padding:1rem;
    margin-bottom:6.5rem;
    position:relative;
    &:after{
      content: "";
      top:100%;
      height:5rem;
      width:2px;
      margin-left:-1px;
      background-color: $primary-color;
      position: absolute;
      left: 50%;
      z-index: 1;
    }
  }
}
.button{
  text-transform: uppercase;
  letter-spacing: 2px;
}
.wrapper{
  @include xy-grid-container;
  margin-top: 1rem;

  @include breakpoint(medium) {
    margin-top: 3rem;
  }
}
#fullpage{
span{color: $primary-color}
  .hero{
    margin: 0 auto;
    h1{font-size:rem-calc(38); padding-bottom:2rem;}
    h2{text-transform: capitalize; font-size:rem-calc(26)}
    span{color: $primary-color}
    .button{
      text-transform: uppercase;
      letter-spacing: 2px;
    }
  }
  .client{
      padding:0 2.5rem;
      color: $white;
      background: url('../../assets/img/mobile/fons.jpg') no-repeat center center;
      background-size: cover;
      ul{
        padding-top:0.5rem;
      }
      li{
            list-style: none;
        &:first-child{
          text-transform: uppercase;
          font-weight: bold;
          position:relative;
        &:before{
          content: "";
          width: 1.5rem;
          border-bottom: solid 3px $white;
          position: absolute;
          margin-left: -2rem;
          left: 0;
          top: 0.7rem;
          z-index: 1;
        }
        }
      }
    a{color:$white; font-size: 1.1rem;}
    }

}
#nosotros{
  p{margin-bottom:3rem;}
}
#projects{
  article{
    position:relative;
    height: 100%;
    padding:1rem;
    padding-top:4rem;
    background-color: darken($dark-gray, 20%);
    p{  text-transform: uppercase; color: darken($light-gray, 10%);font-weight: lighter; margin-bottom:0;}
    h3{color:$light-gray;
      &:nth-child(4){text-transform: none;}}
    h5{margin-top:1rem; margin-bottom:0; color: darken($light-gray, 10%); font-weight: lighter;}
    a{
      position:absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
    }
    // width: 80%;
    // padding-top: 100%;
    // position: relative;
    // .article-content{
    //   position: absolute;
    //   top: 0;
    //   left: 0;
    //   bottom: 0;
    //   right: 0;
    // }
  }
}

#singleproject{
  .hero{
    padding:15vh 2.5rem;
    color: $white;
    background: url('../../assets/img/mobile/fons.jpg') no-repeat center center;
    background-size: cover;
    ul{
      padding-top:0.5rem;
    }
    li{
          list-style: none;
      &:first-child{
        text-transform: uppercase;
        font-weight: bold;
        position:relative;
      &:before{
        content: "";
        width: 1.5rem;
        border-bottom: solid 3px $white;
        position: absolute;
        margin-left: -2rem;
        left: 0;
        top: 0.7rem;
        z-index: 1;
      }
      }
    }
  a{color:$white; font-size: 1.1rem;}
  }
.single-content{
  ul{
    padding-top:0.5rem;
    list-style: none;
    margin-left:0;
  }
    :not(li) > ul{
      margin-left:2rem;
    }
  :not(li) > ul > li {
    &:first-child{
      text-transform: uppercase;
      font-weight: bold;
      position:relative;
    &:before{
      content: "";
      width: 1.5rem;
      border-bottom: solid 3px $dark-gray;
      position: absolute;
      margin-left: -2rem;
      left: 0;
      top: 0.7rem;
      z-index: 1;
        }
      }
    }
  }
  .img{
    .cell{background-color: $dark-gray; height: 10rem;}}
}
#contacto{
.grid-x .medium-6, .grid-x .small-12{
  padding-left:0.5rem;
  padding-right:0.5rem;
}

}
