// //footer
.section.fp-auto-height{background-color: $dark-gray;}
#footer{
  padding:3rem 3rem 0;
  background-color: $dark-gray;
  .cell{
    padding-left: 1rem;
    ul{
      padding-left: 1rem;
    }
  }
  figure{
  padding:0 5rem 0 2.5rem;
  fill: white;
  }
}
//
// //END footer
